<div id="contact">


    <header>
        <ul class="nav navbar-nav">
            <a class="page-scroll" href="/"><li>Home</li></a>
            <a class="page-scroll" href="#services"><li>My Story</li></a>
            <a class="page-scroll" href="#services"><li>How I Work</li></a>
            <a class="page-scroll" href="#services"><li>Blog</li></a>
            <a class="page-scroll" href="/contact"><li>Contact</li></a>
        </ul>
    </header>


    <form>
        <input type="text" id="name" name="name" placeholder="Your name">
        <input type="email" id="email" name="email" placeholder="Email">
        <input type="text" id="subject" name="subject" placeholder="Subject">
        <textarea id="message" name="message" placeholder="Write message here..."></textarea>
        <input type="submit" id="submit" name="submit" value="Submit">
    </form>

</div>

<footer>
    <p class="description">All the work is copyrighted by @abusayeed.me</p>
</footer>