<div id="contact">



    <form>
        <input type="text" id="name" name="name" placeholder="Your name">
        <input type="email" id="email" name="email" placeholder="Email">
        <input type="text" id="subject" name="subject" placeholder="Subject">
        <textarea id="message" name="message" placeholder="Write message here..."></textarea>
        <input type="submit" id="submit" name="submit" value="Submit">
    </form>

</div>

