
    <div class="intro-text">
        <p class="sayeed">Abu Sayeed is a softare engineer who cooks websites with 
            <span class="highlight">NodeJS</span>
        </p>
                
        <p class="description">People are constantly asking me which one is my best work. Well I don't have a best work. At least I shouldn't be the one to judge.
        So I asked my wife and what she chose is the best 4 she likes. </p>
        <p class="description">Also, my other "big" "small" works are in the bottom of this site. You can search for them by typing even little things like 'slider' or 'blog' or 'NodeJS' or 'web' or 'desktop software'.
        </p>
            

    </div>    

    <h3 class="portfolio-header">My Top 4 Portfolios That My Wife Chose</h3>

    <div class="top-portfolio">
        <div class="portfolio">
            <div class="box">
                <h3>Nodesocial</h3>
                <p class="sayeed">NodeJS Social Network</p>
                <div class="link">
                    <a href="#">Website</a>
                    <a href="#">Mobile App</a>
                    <a href="#">Desktop App</a>
                    <a href="#">Github</a>
                </div>
            </div>

            <div class="box">

                <h3>Slider</h3>
                <p class="sayeed">CSS Image Slider</p>
                <div class="link">
                    <a href="#">Website</a>
                    <a href="#">Mobile App</a>
                    <a href="#">Desktop App</a>
                    <a href="#">Github</a>
                </div>
                    
            </div>
            <div class="box">

                <h3>JavaScript</h3>
                <p class="sayeed">JS Social Network</p>
                <div class="link">
                    <a href="#">Website</a>
                    <a href="#">Mobile App</a>
                    <a href="#">Desktop App</a>
                    <a href="#">Github</a>
                </div>
                    
            </div>
            <div class="box">

                <h3>Nodesocial</h3>
                <p class="sayeed">NodeJS Social Network</p>
                <div class="link">
                    <a href="#">Website</a>
                    <a href="#">Mobile App</a>
                    <a href="#">Desktop App</a>
                    <a href="#">Github</a>
                </div>
                    
            </div>

                
        </div>
    </div>


    <h3 class="portfolio-header">Technology I prefer to use</h3>


    <div id="box">		
        <div class="tech">
            <i class="fab fa-js"></i>
            <h1>JavaScript</h1>
        </div>
        <div class="tech">
            <i class="fas fa-paint-brush"></i>
            <h1>Design</h1>
        </div>
        <div class="tech">
            <i class="fab fa-node-js"></i>
            <h1>NodeJS</h1>
        </div>
        <div class="tech">
            <i class="fab fa-react"></i>
            <h1>React</h1>
        </div>
        <div class="tech">
            <i class="fas fa-users"></i>
            <h1>Social</h1>
        </div>
        <div class="tech">
            <i class="fas fa-globe"></i>
            <h1>Website</h1>
        </div>
    </div>

 
    <p class="description">It took me 10 years to get where I am. I am blessed to work with JavaScript, NodeJS and React. Besides creative design is 
                    something I love to do. Over the years I have been making complex and high performance website and of-course will do one for you too.
    </p>

    <p class="description">If you are new and don't know how to collaborate with a software engineer for a project, <a class="page-link" href="/process">learn the process here.</a> This also goes 
                    for anyone want to know my working process.
    </p>

    <p class="description">For a wannabe software engineer, <a class="page-link" href="/blog">you can find helpful information on my blog.</a>  
    </p>
  

    <!--Form search-->
    <form class="mobile-hidden">
        <input type="text" id="search" name="search" placeholder="Search Portfolio Based on Skill">
    </form>

    <!--Portfolio boxes-->

    <div class="portfolio mobile-hidden">
        <div class="box">

            <h3>Nodesocial</h3>
            <p class="sayeed">NodeJS Social Network</p>
            <p class="tags">Node</p>
            <div class="link">
                <a href="#">Website</a>
                <a href="#">Mobile App</a>
                <a href="#">Desktop App</a>
                <a href="#">Github</a>
            </div>
                    
        </div>
        <div class="box">

            <h3>Nodesocial</h3>
            <p class="sayeed">NodeJS Social Network</p>
            <p class="tags">Node</p>
            <div class="link">
                <a href="#">Website</a>
                <a href="#">Mobile App</a>
                <a href="#">Desktop App</a>
                <a href="#">Github</a>
            </div>
                    
        </div>

        <div class="box">

            <h3>Nodesocial</h3>
            <p class="sayeed">NodeJS Social Network</p>
            <p class="tags">Node</p>
            <div class="link">
                <a href="#">Website</a>
                <a href="#">Mobile App</a>
                <a href="#">Desktop App</a>
                <a href="#">Github</a>
            </div>
                    
        </div>

        <div class="box">

            <h3>Nodesocial</h3>
            <p class="sayeed">NodeJS Social Network</p>
            <p class="tags">Node</p>
            <div class="link">
                <a href="#">Website</a>
                <a href="#">Mobile App</a>
                <a href="#">Desktop App</a>
                <a href="#">Github</a>
            </div>
                    
        </div>

        <div class="box">

            <h3>Nodesocial</h3>
            <p class="sayeed">NodeJS Social Network</p>
            <p class="tags">Node</p>
            <div class="link">
                <a href="#">Website</a>
                <a href="#">Mobile App</a>
                <a href="#">Desktop App</a>
                <a href="#">Github</a>
            </div>
                    
        </div>

        <div class="box">

            <h3>Nodesocial</h3>
            <p class="sayeed">NodeJS Social Network</p>
            <p class="tags">Node</p>
            <div class="link">
                <a href="#">Website</a>
                <a href="#">Mobile App</a>
                <a href="#">Desktop App</a>
                <a href="#">Github</a>
            </div>
                    
        </div>

        <div class="box">

            <h3>Nodesocial</h3>
            <p class="sayeed">NodeJS Social Network</p>
            <p class="tags">Node</p>
            <div class="link">
                <a href="#">Website</a>
                <a href="#">Mobile App</a>
                <a href="#">Desktop App</a>
                <a href="#">Github</a>
            </div>
                    
        </div>

        <div class="box">

            <h3>Nodesocial</h3>
            <p class="sayeed">NodeJS Social Network</p>
            <p class="tags">Node</p>
            <div class="link">
                <a href="#">Website</a>
                <a href="#">Mobile App</a>
                <a href="#">Desktop App</a>
                <a href="#">Github</a>
            </div>
                    
        </div>

        <div class="box">

            <h3>Nodesocial</h3>
            <p class="sayeed">NodeJS Social Network</p>
            <p class="tags">Node</p>
            <div class="link">
                <a href="#">Website</a>
                <a href="#">Mobile App</a>
                <a href="#">Desktop App</a>
                <a href="#">Github</a>
            </div>
                    
        </div>

        <div class="box">

            <h3>Nodesocial</h3>
            <p class="sayeed">NodeJS Social Network</p>
            <p class="tags">Node</p>
            <div class="link">
                <a href="#">Website</a>
                <a href="#">Mobile App</a>
                <a href="#">Desktop App</a>
                <a href="#">Github</a>
            </div>
                    
        </div>

        <div class="box">

            <h3>Nodesocial</h3>
            <p class="sayeed">NodeJS Social Network</p>
            <p class="tags">Node</p>
            <div class="link">
                <a href="#">Website</a>
                <a href="#">Mobile App</a>
                <a href="#">Desktop App</a>
                <a href="#">Github</a>
            </div>
                    
        </div>

        <div class="box">

            <h3>Nodesocial</h3>
            <p class="sayeed">NodeJS Social Network</p>
            <p class="tags">Node</p>
            <div class="link">
                <a href="#">Website</a>
                <a href="#">Mobile App</a>
                <a href="#">Desktop App</a>
                <a href="#">Github</a>
            </div>
                    
        </div>
                
    </div>



