<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Software Engineer - Abu Sayeed Portfolio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!--Fonts from google-->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet"> 

  <!--font awesome all.css-->
  <link rel="stylesheet" href="css/all.min.css">

  <!--boilerplate css-->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <!--style css-->
  <link rel="stylesheet" href="css/style.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
    <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
       <header>
    <!-- main menus-->
        <ul class="nav navbar-nav">
            <a class="page-scroll" href="/"><li>Home</li></a>
            <a class="page-scroll" href="/my-story"><li>My Story</li></a>
            <a class="page-scroll" href="#services"><li>How I Work</li></a>
            <a class="page-scroll" href="#services"><li>Blog</li></a>
            <a class="page-scroll" href="/contact"><li>Contact</li></a>
        </ul>

        <a class="navbar-brand page-scroll" href="#page-top">
            <div id="logo">
                <div class="man">
                    <span> ツ </span>
                </div>
            </div>
        </a>

        <p class="my-logo">ASM</p>
    </header> 
        <%- body %>
	    <footer>
        <p class="description">All the work is copyrighted by @abusayeed.me</p>
    </footer>
    <script src="js/vendor/modernizr-3.8.0.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-156103437-3', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
