* {
    margin: 0;
    padding: 0;
    border-radius: 2px;
    
}
body {
    background: #ccc;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
a{
    color: #260101;
}

.navbar-nav {
    display: flex;
}

/*browser code need */ 
.navbar-nav a {
    background-color: #90ed8c;
    box-shadow: 0 3px 0 #88e584, 0 5px 0 #90ed84, 0 7px 0 #7fdc7b, 0 9px 0 2px #6fcc6b, 0 11px 0 3px #5fbc5b;
    color: threedshadow;
    cursor: pointer;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    text-align: center;
    transition: all 0.3s ease-out 0s;
    width: 20%;
    padding: 40px;
    list-style: none;

}
/*green

.navbar-nav > li {
    background-color: #90ed8c;
    box-shadow: 0 3px 0 #88e584, 0 5px 0 #90ed84, 0 7px 0 #7fdc7b, 0 9px 0 2px #6fcc6b, 0 11px 0 3px #5fbc5b;
    color: threedshadow;
    cursor: pointer;
    font-family: Open Sans;
    text-align: center;
    transition: all 0.3s ease-out 0s;
    width: 20%;
}
*/



.navbar-nav > a {
    background-color: #f1f1f1;
    box-shadow: 0 3px 0 #eee, 0 5px 0 #ddd, 0 7px 0 #ccc, 0 9px 0 2px #bbb, 0 11px 0 3px #aaa;
    font-family: "Open Sans condensed";
    text-align: center;
    transition: all 0.3s ease-out 0s;
    width: 20%;
    text-decoration: none;
    text-transform: uppercase;
    color: #999;
}

.navbar-nav > a:hover {
    background-color: #1932BA;
    box-shadow: 0 3px 0 #1932ca, 0 5px 0 #1932dA, 0 7px 0 #1932eA, 0 9px 0 2px #1932fA, 0 11px 0 3px #1932ff, 0 13px 0 4px #193fff, 0 15px 0 5px #195fff;

}




/*logo */
#logo {
    animation: 6s ease-in 1s normal none infinite running logoimage;
    background-color: #260101;
    background-image: url("../img/old_wall.png");
    border-radius: 50%;
    box-shadow: 2px 2px #BF6565, 4px 4px #592E2A, 6px 6px #A6442E, 8px 8px #F26D3D, 10px 10px #F27C38, -2px -2px #F26849, -4px -4px #F2D544, -6px -6px #F2CF66, -8px -8px #F2A30F, -10px -10px #260101, 0 2px 0px #A6A37D, 0 4px 0px #EEEDC9, 0 6px 0px #2B1C8C, 0 8px 0px #250C59, 0 10px 0px #428964, 0 -2px 0px #A6A37D, 0 -4px 0px #EEEDC9, 0 -6px 0px #B0AFD9, 0 -8px 0px #3B42D9, 0 -10px 0px #5C73F2;
    /*
    box-shadow: 2px 2px #A6A37D, 4px 4px #EEEDC9, 6px 6px #006282, 8px 8px #003030, 10px 10px #428964, -2px -2px #A6A37D, -4px -4px #EEEDC9, -6px -6px #006282, -8px -8px #003030, -10px -10px #428964, 0 2px 0px #A6A37D, 0 4px 0px #EEEDC9, 0 6px 0px #006282, 0 8px 0px #003030, 0 10px 0px #428964, 0 -2px 0px #A6A37D, 0 -4px 0px #EEEDC9, 0 -6px 0px #006282, 0 -8px 0px #003030, 0 -10px 0px #428964;
   */ 
    font-family: "Josefin Sans";
    height: 86px;
    margin: 50px auto;
    padding-top: 10px;
    width: 100px;
    text-align: center;
}

.man {
    border-radius: 50px;
    height: 100px;
    margin: 0 auto;
    width: 100px;
	font-size: 0.8em;
	color: #000;
}

.man > span {
    border: 1px solid whitesmoke;
    border-radius: 54px;
    color: #260101;
    font-size: 44px;
    padding: 5px;
    text-shadow: 0 2px #fff;
}

.navbar-brand {
    width: 100%;
    text-decoration: none;
    display: none;
}


/*end logo */


.my-logo {
    background: #777;
display: block;
width: 50px;
margin: 40px auto;
padding: 10px;
color: #fff;
font-family: kanit;
}

.intro-text {
    margin: 30px 0 30px;
    text-align: center;
}


/*sayeed intro*/
.sayeed {
    font-family: 'open sans condensed';
    font-size: 2em;
background-color: #f1f1f1;
color: threedshadow;
display: unset;
padding: 0 15px;
box-shadow: inset 2px 2px #033E8C;
}
.highlight {
    background-color: #260101;
    color: #fff;
    padding: 15px;
}
.portfolio-header {
    font-family: 'Josefin Sans';
margin: 50px auto -28px;
width: max-content;
background-color: #1932BA;
color: #fafafa;
padding: 5px 15px 1px;
box-shadow: inset 0 3px 0 #1932ca;
background-image: url("../img/old_wall.png");
}

.description {
    font-family: 'kanit';
    width: 60%;
    margin: 50px auto;
    color: #666;
    text-align: center;
}

input, textarea {
    font-family: "open sans";
    font-size: 1.2em;
    padding: 10px;
    width: 50%;
    border: 3px solid #ccc;
    box-shadow: inset 0px 0px 6px #ddd, 2px 1px 2px 1px inset #999;
    background-color: #eee;
    color: #260101;
    background-image: url("../img/old_wall.png");
    margin: 5px 0;
}

/* form */
form {
    text-align: center;
    background-color: #bbb;
    padding: 100px 0;
    background-image: url('../img/whitenoise-361x370.png');
    border: 1px solid #e2e5e7;
    box-shadow: inset 0 0 2px 3px #888, inset 0 0 4px 3px #aaa, inset 0 0 6px 3px #ccc, inset 0 0 8px 1px #eee;
}


/* portfolio box codes */


.portfolio {
    margin: 50px 0 150px;
    display: grid;
    grid-gap: 5%;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    
}
.box .sayeed {
    background-color: transparent;
    box-shadow: none;
    color: #260101;
    display: none;

}
.box p {
    font-family: "kanit";
    background-color: #ddd;
    color: #666;
    padding: 2px;
    margin: 0px;

}

.link a {
    text-decoration: none;
    color: #a9a9a9;
    background: #1932BA;
    padding: 15px 6px;
    display: block;
    margin: 15px auto;
    box-shadow: 2px 4px 2px #333;
    border-bottom: 2px solid blue;
    font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    width: 50%;
}

.link a:hover {
    background: #260101;
    border-bottom: 2px solid #b9caf2;
}
.portfolio .box {
    background-color: #f1f1f1;
    border: 1px solid #e2e5e7;
    height: 400px;
    min-width: 100%;
    width: 100%;
    padding: 0px 0px;
    text-align: center;
    /*
    background-image: url('img/whitenoise-361x370.png');
    
    box-shadow: inset 0px 2px 2px 0px #bbb, inset 0px 2px 2px 0px #bbb, inset 2px 0px 2px 0px #bbb, inset 0px -2px 2px 0px #bbb, inset -2px 0px 2px 0px #bbb;
*/
}

.portfolio h3 {
    font-family: "josefin sans";
    font-size: 14px;
    box-shadow: inset 0 3px 0 #1932ca;
    background-image: url("../img/old_wall.png");
    background-color: #260101;
    padding: 10px 0;
    color: #fff;
}

.svg-container { 
	display: none;
	position: relative;
	width: 100%;
	padding-bottom: 10%; 
	vertical-align: middle; 
	overflow: hidden;
	font-family: "Open Sans";
	text-transform: uppercase;
	

}



.svg-content { 

 display: inline-block;

 position: absolute;

 top: 0;

 left: 0;

}

header {
    text-align: center;
}
header .intro-text {
    padding-top: 50px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: 'Montserrat,"Helvetica Neue",Helvetica,Arial',sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
	text-shadow: 3px 3px 0 #999, 5px 5px 0 #ddd, 7px 7px 0 #ccc, 9px 9px 0 #bbb;
    color: #0433BF;
    display: none;
}

#tagline {
    margin: 130px 0;
    display: none;

}

#tagline span{
    
	border: 1px solid;
    -webkit-box-shadow: 2px 3px 5px;
	-moz-box-shadow: 2px 3px 5px;
	box-shadow: 2px 3px 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 30px 10px;
	font-size: 2.5em;
    /*color: #e2e7e7;*/
    color: #260101;
    background-color: #033E8C;
}



#second-tag {
	margin-top: -135px;
	z-index: 5;
	background: #fff;
	padding: 25px;
	opacity: 0;
	position: relative;
	-webkit-animation-name: tagline1;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -moz-animation-name: tagline1;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-play-state: running;
    animation-name: tagline1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}


@-webkit-keyframes tagline {
    
    40% {opacity: 1;}
}

@-moz-keyframes tagline {
    
    40% {opacity: 1;}
}

@keyframes tagline {
    40% {opacity: 1;}
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 100px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 0px;
        text-transform: uppercase;
        font-family: 'Josefin Sans';
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

/* box */



#box { text-align: center; margin: 50px 0; }
#box li i { font-size: 350%; color: #260101; padding: 5px; }
#box li i:hover { color: #000; }
#box li{ 
	/*border: 3px solid #0433BF; */
	background-color: #f1f1f1; 
	border-radius: 5px; 
	box-shadow: 0 3px 1px 0 #d8dedf;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 3px 1px 0 #d8dedf;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 3px 1px 0 #d8dedf;
	height: auto;
	width: 13.5%;
	display: inline-block;
	padding-top: 10px;
	margin: 10px 4px;
    transform-origin: center bottom 0;
    transition: border-color 2s ease-out 0s;
	-moz-transform-origin: center bottom 0;
    -moz-transition: border-color 2s ease-out 0s;
	-webkit-transform-origin: center bottom 0;
    -webkit-transition: border-color 2s ease-out 0s;
	-ms-transform-origin: center bottom 0;
	-o-transform-origin: center bottom 0;
    -o-transition: border-color 2s ease-out 0s;
    /*background-image: url('img/whitenoise-361x370.png');*/
}
#box li:hover h1 { background-color: #0433BF; color: #fff; }
#box h1 {
	    animation: 0s ease 0s normal none 1 none;
    background: none repeat scroll 0 0 #e2e7e7;
    color: #033E8C;
    font-size: 108%;
    font-weight: bold;
    line-height: 2;
    margin-top: 30px;
    overflow: hidden;
    padding: 7px 0 0;
    text-shadow: 0 0 0;
    width: auto;
	transform-origin: center bottom 0;
    transition: background-color 2s ease-out 0s;
	-moz-transform-origin: center bottom 0;
    -moz-transition: background-color 2s ease-out 0s;
	-webkit-transform-origin: center bottom 0;
    -webkit-transition: background-color 2s ease-out 0s;
	-ms-transform-origin: center bottom 0;
	-o-transform-origin: center bottom 0;
    -o-transition: background-color 2s ease-out 0s;
    font-family: "josefin sans";
}


footer {
    padding: 15px 0px 1px;
    background: #eee;
    text-align: center;
}

footer .description {
    margin: 20px auto 30px;
}




/* Responsive code for homa page starts here*/
@media(max-width:768px) {
    .sayeed {
        font-size: 1.2em;
    }
    .navbar-nav > a {
        padding: 30px 0;
    }
    .link a {
        font-size: 15px;
        
    }
    #box li i {
        font-size: 280%;
    }
    #box h1 {
        font-size: 85%;
    }
}

@media(max-width:520px) {
    .sayeed {
        font-size: 1em;
    }
    .navbar-nav > a {
        padding: 20px 0;
        font-size: 15px;
    }
    .portfolio-header {
        font-size: 14px;
    }
    .portfolio {
        grid-template-columns: 45% 45%;
    }
    #box li i {
        font-size: 150%;
    }
    #box h1 {
        font-size: 65%;
    }
    .mobile-hidden {
        display: none;
    }
}



/*contact page */
#contact form {
    background-image: none;
    border: 1px solid #e2e5e7;
    box-shadow: inset 0 0 2px 3px #888, inset 0 0 4px 3px #aaa, inset 0 0 6px 3px #ccc, inset 0 0 8px 1px #eee;

}
#contact input, textarea {
    border: 1px solid #260101;
}

input[type="submit"] {
    background-color: #1932BA;
    border: 1px solid #13106A;
    width: 200px;
    display: block;
    margin: 15px auto;
    color: cornflowerblue;
    box-shadow: 0px 0px 1px 7px #e2e2e2, inset 0px 0px 6px #173a9f, 2px 1px 2px 1px inset #142479, inset 0px 0px 3px #0e2c82, -2px -1px 2px 1px inset #142479;
    background-image: none;
    color: #eee;
}